<?xml version='1.0' encoding='utf-8'?>
<widget id="com.homeassistant.mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Home Assistant</name>
    <description>Home Assistant 移动客户端</description>
    <author email="support@home-assistant.io" href="https://www.home-assistant.io">Home Assistant Team</author>
    
    <!-- 内容设置为本地页面 -->
    <content src="index.html" />
    
    <!-- 访问权限 -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- 通用偏好设置 -->
    <preference name="Orientation" value="portrait" />
    <preference name="BackgroundColor" value="#121212" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    
    <platform name="android">
        <!-- 使用更现代的 SDK 版本 -->
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-compileSdkVersion" value="34" />
        <preference name="GradleVersion" value="8.0" />
        <!-- Android 特定配置 -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        
        <!-- 允许 HTTP 明文传输（用于本地网络） -->
        <config-file parent="/manifest/application" target="app/src/main/AndroidManifest.xml">
            <application android:usesCleartextTraffic="true" />
        </config-file>
    </platform>
    
    <!-- 必要的插件 -->
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <plugin name="cordova-plugin-inappbrowser" spec="^5.0.0" />
    <plugin name="cordova-plugin-network-information" spec="^3.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="^3.0.0" />
</widget>